@import '../../common.scss';
@import '../../service/ossURL.scss';
.ry-body {
  background-color: $default-white;
  .carouselSection {
    max-width: 100%;
    .carItem {
      height: 750px;
      max-width: 100%;
    }
  }

  .introSection {
    padding: 90px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $default-page-white;
    .logo {
      img {
        width: 130px;
      }
    }
    .text {
      margin-left: 180px;
      color: $default-purple;
      line-height: 32px;
    }
    .text:first-letter {
      font-size: 30px;
      font-weight: 400;
    }
  }

  .mapSection {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $default-yellow;
    padding: 60px 180px 60px 180px;
    .logo {
      width: 150px;
      height: 150px;
    }
    .text {
      color: $default-purple;
      margin: 0 50px 0 40px;
      flex-shrink: -1;
      .title {
        font-size: 20px;
        font-weight: bold;
      }
      .line {
        width: 30px;
        margin: 8px 0 0 2px;
        height: 6px;
        background-color: $default-purple;
      }
      .section {
        display: flex;
        margin: 28px 0;
        .subTitle {
          width: 60px;
        }
        .content {
        }
      }
    }
    .mapContainer {
      flex-shrink: 0;
      width: 500px;
      height: 280px;
      overflow: hidden;
      box-shadow: $default-shadow_heavy;
    }
  }
  .barSection {
    background-image: $bg_bar;
    padding: 0 0px;
    display: flex;
    justify-content: center;
    .icon {
      margin: 15px 25px;
      cursor: pointer;
    }
  }

  .photoSection {
    margin: 100px 0 0 0;
    padding: 40px 80px 80px 80px;
    display: flex;
    justify-content: space-between;
    background-image: $bg_photo;
    background-size: cover;
    .left-part {
      .photo-title {
        font-size: 36px;
        color: #fff;
        margin: 0 0 30px 0;
        letter-spacing: 2px;

        .yellow {
          color: $default-yellow;
          margin: 12px;
        }
        .chinese {
          font-size: 18px;
          margin: 1px;
          font-weight: bold;
        }
      }
    }
    .photoContainer {
      .oneline {
        display: flex;
      }
    }
  }
  .right-part {
    color: $default-yellow;
    max-width: 35%;
    padding: 75px 60px;
    .title {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      .chinese {
        font-weight: bold;
        letter-spacing: 20px;
      }
    }
    .content {
      margin: 48px 0 0 0;
      line-height: 32px;
    }
    .content:first-letter {
      font-size: 30px;
      font-weight: 400;
    }
  }
}
