$default-purple: #310b3dd8;
$default-yellow: #fae740;

$default-shadow: 0 5px 35px rgba(32, 30, 30, 0.1);
$default-shadow-active: 0 10px 55px rgba(245, 237, 237, 0.15);

$header-bg-color: rgba(
  $color: #f7f5f5,
  $alpha: 0.7
);
