@import '../../common.scss';

.students-work {
  background-color: $default-page-white;
  width: 100%;
  display: flex;
  .sw-left-part {
    width: 36%;
    max-width: 320px;
    background-color: $default-white;
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
    }
  }
  .sw-right-part {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    .carousel-container {
      width: 650px;
    }
  }
}

.carousel-item {
  img {
    width: 100%;
  }
}
